.checkout{
    display: flex;
    padding: 20px;
    background-color: #fff;
}
.checkoutAd{
    width: 100%;
}
.checkoutTitle{
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}